<div class="list-wrapper">

  <div class="add-todo">

    <form ng-submit="addTodo()">
      <input id="todo-summary"
        type="text"
        class="form-control"
        placeholder="Enter task summary"
        ng-minlength="3"
        ng-model="newTodoSummary"
        required />
      <button class="btn btn-success">Add to list</button>
    </form>

  </div>

  <div class="todo-list">
    <ul>
      <li single-todo 
        ng-repeat="todo in todoCollection.models"
        ng-model="todo">
      </li>
    </ul>
  </div>

</div>